* {
    outline: #000000 3px solid
}

.nav-bar {
    display: flex;
    margin-inline: 120px;
    margin-block: 40px;
    align-items: center;
}

.nav-bar img {
    width: 180px;
}

.nav-links a {
}

.location {
    display: inline-block;
    position: relative;
}
.location-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.location:hover .location-content {
    display: block;
}
.location-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.location-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}