* {
    /*outline: #000000 3px solid;*/
    font-family: 'Roboto', sans-serif;
}

.nav-bar {
    display: flex;
    margin-inline: 5%;
    margin-block: 40px;
    align-items: center;
    justify-content: space-between;
}

.nav-bar img {
    width: 160px;
    margin-inline: 40px;
}

.left {
    display: flex;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    margin-inline: 10px;
}

.nav-user {
    margin-inline: 20px;
}

.nav-user input {
    font-size: 16px;
    font-weight: bold;
    padding-inline: 50px; /* Aumenta espacio para la imagen */
    padding-block: 10px;
    border-radius: 25px;
    background-image: url('img/lupa.png'); /* Ruta de tu imagen */
    background-size: 22px;
    background-position: 10px center;
    background-repeat: no-repeat;
    border: solid 8px #f1f1f1;
    outline: none;
    background-color: #f1f1f1;
    }

.cupones {
    background-image: url('img/cupon.PNG');
    background-position: 30px 40px;
    background-repeat: no-repeat;
    background-size: 22px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.cupones h1 {
}

.location {
    display: inline-block;
    position: relative;
}
.location-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.location:hover .location-content {
    display: block;
}
.location-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.location-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}